# ML-Agents Python environment
mlagents-env/

# Unity generated folders (must be ignored)
**/Library/
**/Temp/
**/Obj/
**/Build/
**/Builds/
*.pidb
*.booproj
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity Recovery folder
_Recovery/
#never ignore meta files crucial for unity
results/
summaries/
timers/

!*.meta

# Package Cache
**/Library/PackageCache/